input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@media only screen and (max-width: 600px){
    .row{
        display: block!important;
    }
    .col-6{
        display: block!important;
        position: relative;
        width: 100%;
    }
}
